<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= titleArt
        include partials/_head.pug
    body
        include partials/_header.pug
        .bannerArtistas(style=`background: ${url};background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position-y: -300px;`)
        section
            include partials/_title.pug
            include partials/_footer.pug
