<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Editorial - Book Art & Design
        include partials/_head.pug
    body
        include partials/_header.pug
        .quienessomos
        section
            include partials/_title.pug
            .contenedor-sobre
                img(src="/img/logo.png", alt="Logo Book Art")
                p Creando el primer catálogo de artistas del país.
                p Desde 2004 aceptamos el desafío de editar una propuesta gráfica que reuniera a artistas nacionales, y acercar a estos con su público objetivo. Guiados por la visión de Sebastián Manuele Guria, Artista, Galerista, y Curador. 
                p El alcance internacional de la publicación le otorgó mucha popularidad, pero lo que ha sido más importante para el crecimiento de este proyecto, ha sido el mismo trabajo de los artistas que han pasado por sus páginas.
                p Dedicados entonces a la difusión, promoción, documentación, investigación, educación y formación artística, fuimos adaptándonos a los cambios incesantes de estos tiempos, y así agregamos la galería virtual, y más adelante buscamos presencia en las redes sociales. Pero aún hay mucho por hacer y caminos por recorrer, por lo que llegamos al 2020. 
                p Book Art & Design se ha convertido en una comunidad de gestión integral para los artistas plásticos. Ocupados en potenciar y difundir nuevos talentos, organizar exposiciones y eventos, edición de catálogos personales y la colaboración con el desarrollo cultural del país, llegamos al día de hoy con una nueva propuesta, donde el catálogo de Artistas más importante del país evoluciona una vez más.
                p “Book Art Guía Nacional de las Artes Visuales del Uruguay.”
                p Ya formamos parte de las estrategias para destacar a Uruguay como destino de Turismo Cultural. Aunando esfuerzos con organismos públicos y empresas del medio, en pos de una mejor difusión de nuestra cultura y desarrollo del vínculo entre nuestros autores, y su público potencial. Convirtiéndonos en un referente nacional e internacional. 
                p Los ejemplares serán distribuidos de forma gratuita en eventos estratégicos a nivel país por las oficinas de Turismo, y a nivel internacional por medio de Cancillería. Participando en ferias de Arte y Turismo del mundo. Sumado a esto, la presencia en la Página Web donde artistas y patrocinadores tienen su espacio de promoción.
                p Sin lugar a dudas esto es una labor de 365 días al año, llenos de motivación, por realizar nuestro aporte al crecimiento regional y a la construcción de esta comunidad que toma protagonismo cada día.
                p 
                 span Equipo de Book Art & Design  
            
        include partials/_footer.pug