<!DOCTYPE html>
html(lang="es")
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-143820540-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-143820540-1');
        meta(charset="UTF-8")
        meta(name="desciption" content="Book art and design - Guía Nacional de las Artes Visuales del Uruguay")
        meta(name="keywords" content="Arte, Arte Uruguay, Guía Nacional de las Artes Visuales, Turismo, Book art and Design")
        meta(name="author" content="Book Art & Design")
        meta(property="og:title" content="Book Art & Design")
        meta(property="og:image" content="/img/favicon.jpg")
        meta(property="og:description" content="Guía Nacional de las Artes Vusuales del Uruguay")
        meta(property="og:url" content="http://www.bookart.com.uy")
        meta(name="twitter:title" content="Book Art & Design")
        meta(name="twitter:description" content="Guía Nacional de las Artes Vusuales del Uruguay")
        meta(name="twitter:site" content="@bookartdesignuy")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Book Art
        include partials/_head.pug
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2")
    body(style="background:black")
        include partials/_header.pug
        a.volver(href="/") Volver al Inicio
        
            
        
            script.
                Swal.fire(
                'Envío realizado en forma exitosa',
                'En breve nos pondremos en contacto',
                'success'
                )