<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Book Art
        include partials/_head.pug
    body
        include partials/_header.pug
        .slider
            h1  Edición 2020 - Book Art & Design 
            a(href="/inscripciones") Inscribirse
            .tooltips
                p Ahora somos la guía nacional de Artes Plásticas, reservate un lugar en la Edición 2020.

        section
            h2  Ediciones
            .contenedor-secciones
                article.ediciones
                    img(src="/img/2015.jpg", alt="Edición 2015 Libro")
                    h3 Edición 2015
                    a(href="https://issuu.com/bookartdesign/docs/edici__n_2015_issuu", target="_blank", rel="noopener noreferrer") Ver más...
                article.ediciones
                    img(src="/img/2016.jpg", alt="Edición 2015 Libro")
                    h3 Edición 2016
                    a(href="https://issuu.com/bookartdesign/docs/edici__n_2016", target="_blank", rel="noopener noreferrer") Ver más...
                article.ediciones
                    img(src="/img/2017.jpg", alt="Edición 2015 Libro")
                    h3 Edición 2017
                    a(href="https://issuu.com/bookartdesign/docs/images-2",target="_blank", rel="noopener noreferrer") Ver más...
                article.ediciones
                    img(src="/img/2018.jpg", alt="Edición 2015 Libro")
                    h3 Edición 2018
                    a(href="https://issuu.com/bookartdesign/docs/bookart2018",target="_blank", rel="noopener noreferrer") Ver más...
        section
            h2 Nuestros Artistas
            .contenedor-gral    
                .contendor-artistas
                    .contendor-slider
                        img(src="/img/1883-obra.jpg", alt="")
                    .contendor-slider
                        img(src="/img/caro.jpg", alt="")
                    .contendor-slider
                        img(src="/img/sebastian.jpg", alt="")
                .next &#62;
                .prev &#60;
        
        .cita
            blockquote -La inspiración existe pero debe encontrarse trabajando.-
            cite Pablo Picasso
        aside
            .contenedor-form
                h5 ¿Eres Artista? Queremos conocer tus obras
                form(action="/enviar", method="post")
                    input(type="text" id="name" name="name" required )
                    label(for="name") Nombre
                    input(type="email" id="email" name="email" required )
                    label(for="email") Correo Electrónico
                    textarea(name="asuntoTxt", cols="30", rows="10" id="asuntoTxt" placeholder="Escriba Aqui")
                    button(type="submit") Enviar
        section
            h3 ¿Quieres recibir nuestras propuestas?
            // Begin Mailchimp Signup Form
            link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
            #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='https://hotmail.us3.list-manage.com/subscribe/post?u=612fc8531df0c8148bd1f99de&id=2c11fcb6cf', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    #mc_embed_signup_scroll
                        .mc-field-group
                            label(for='mce-EMAIL') Correo Electrónico 
                            input#mce-EMAIL.required.email(type='email', value='', name='EMAIL' style="border:none;border-bottom: 1px solid black;")
                    #mce-responses.clear
                        #mce-error-response.response(style='display:none')
                        #mce-success-response.response(style='display:none')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                        input(type='text', name='b_612fc8531df0c8148bd1f99de_2c11fcb6cf', tabindex='-1', value='')
                    .clear
                        input#mc-embedded-subscribe.button(type='submit', value='Suscribite', name='subscribe' style="background:#2D4C85;")
            script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
            script(type='text/javascript').
                (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
            // End mc_embed_signup
        include partials/_footer.pug
                