<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Inscripciones - Book Art & Design
        include partials/_head.pug
    body
        include partials/_header.pug
        .registro
        section
            include partials/_title.pug
            .formulario-inscripcion
                form(action="/inscripciones", method="post")
                    input#nombre(type="text", name="nombre", required)
                    label(for="nombre") Nombre*
                    input#apellido(type="text", name="apellido", required)
                    label(for="apellido") Apellido*
                    input#email(type="email", name="email" required)
                    label(for="email") Correo Electrónico*
                    input#asunto(type="text", name="asunto" required)
                    label(for="asunto") Asunto*(Inscripciones)
                    button(type="submit") Quiero inscribirme!
                
            
        include partials/_footer.pug