@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i&display=swap');
:root{
    --font-family:'Economica', sans-serif;
    --bg-primario: #444444;
    --bg-secundario: #A49FAE;  
    --texto: #A49FAE;
    --btn-compra: #1192ee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
::placeholder{
    font-family: var(--font-family);
    font-size: 16px;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
header {
    width: 100%;
    position: fixed;
    transition: .3s;
    z-index: 100;
}
nav .contenedor_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav .contenedor_menu .burger {
    cursor: pointer;
    display: none;
}

nav .contenedor_menu .burger .burger-menu {
    width: 25px;
    height: 2px;
    background: #FFF;
    margin-top: 5px;
}

nav .contenedor_menu .contenedor-img{
    width: 200px;
    height: 55px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
nav .contenedor_menu .contenedor-img a img{
    width: 100%;
    object-fit: cover;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: var(--font-family);
    color:white;
    font-weight: 700;
    text-transform: uppercase;
    
}
nav ul li a:hover {
    transition: all .5s;
    text-decoration: underline;
}
nav .submenu ul{
    position: absolute;
    flex-direction: column;
    opacity: 0;
    background: rgba(0, 0, 0, 1);
    transform: translate(30%,-350px);
    transition: all .5s;
}
nav .submenu:hover ul {
    opacity: 1;
    transform: translate(30%,0);
}
/* ---------------------------------------- */
.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(/img/inicio.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider h1, .slider a{

    position: absolute;
    font-family: var(--font-family);
    text-transform: uppercase;
    left: 50%;
    color:#fff;
    transform: translateX(-50%);
}
.slider h1{
    top:20%;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
.slider a {
    bottom: 20%;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border: 2px solid #FFF;
    border-radius: 30px;
}
.tooltips {
    width: 200px;
    padding: 20px;
    font-size: 1.5em;
    background: var(--bg-primario);
    text-align: center;
    color:var(--texto);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .5s;
    z-index: 2;
    border-radius: 5px;
}
.tooltips::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 10%;
    transform: translateX(50%) rotate(45deg);
    background: var(--bg-primario);
}
.slider a:hover ~ .tooltips {
    opacity: 1;
    transform: translate(-50%, 0);
}
/* ----------------------------------------------- */
section{
    width: 100%;
    font-family: var(--font-family);
    margin-top: 100px;
}
section h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}
section h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}
section .contenedor-secciones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
section article.ediciones{
    width: calc((100% - 30px) / 4);
    text-align: center;
    opacity: 0; 
    transform: translateY(150px);
    transition: all 1.5s;
}
section article.ediciones:nth-child(2){
    transition-delay: .2s;
}
section article.ediciones:nth-child(3){
    transition-delay: .4s;
}

section article.ediciones:nth-child(4){
    transition-delay: .6s;
}

section article.ediciones img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
section article.ediciones h3{
    margin-top: 10px;
    font-size: 1.4rem;
}
section article.ediciones a{
    margin-top: 40px;
    color: #000000;
    border: 1px solid black;
    padding: 20px;
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 10px;
}

/* -------------------------------------- */

.contenedor-gral{
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.contendor-artistas{
    width: 300%;
    display:flex;
    
}
.contendor-artistas .contendor-slider{
    width: 100%;
    
}
.contendor-artistas .contendor-slider img{
    width: 100%;
    object-fit: contain;
    transform: scale(0.7);
}
.next, 
.prev{
    position: absolute;
    top:50%;
    color:#000000;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    transform: translateY(-50%);
    cursor: pointer;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}

/* ------------------------------------------------------ */

aside .contenedor-form{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
aside h5 {
    margin-top: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;

}
form{
    margin-top: 50px;
    width: 100%;
}
aside label {
    display: block;
    margin: auto;
    width: 70%;
    z-index: 10000000;
    transform: translatey(-45px);
    transition: all .5s;
    pointer-events: none;
}
aside input, 
aside textarea {
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 70%;
    height: 20px;
    font-family: var(--font-family);
    font-size: 16px;   
}
aside input:focus + label, aside input:valid + label, aside textarea:focus + label, aside textarea:valid + label {
    transform: translatey(-55px);
    font-size: 10px;
}
aside button {
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #2D4C85;
    color: white;
    transition: all .5s;
}

aside textarea {
    resize: none;
    height: 100px;
    font-weight: 500;
}
/* ---------------------------------- */
.cita{
    margin-top: 10px;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    background: url(/img/fondo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
blockquote, cite{
    color: #FFF;
    text-align: center;
    letter-spacing: 3px;
}
blockquote{
    font-size: 4rem;
    text-transform: uppercase;
}
cite{
    position: absolute;
    font-size: 3rem;
    bottom: 10px;
    right: 10px;
}
/* ------------------------------------- */
footer{
    width: 80%;
    margin: auto;
    margin-top:50px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-family);
}

.nosotros, .sociales{
    width: 50%;

}
.nosotros{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nosotros a, .nosotros p{
    color: #000000;
    margin-top: 20px;
}
.nosotros a{
    text-decoration: underline;
}
.nosotros p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sociales a{
    margin-right: 50px;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    text-align: center;
}
.facebook{
    color:#3b5998;
     border-radius: 50%;
}
.instagram{
    color:#e1306c;
    border-radius: 50%;
}
.twitter{
    color:#00acee;
    border-radius: 50%;
}
.facebook:hover{
    background:#3b5998;
    color:white;
    transition: .5s;
    
}
.instagram:hover{
    background:#e1306c;
    color:white;
    transition: .5s;
}
.twitter:hover{
    background:#00acee;
    color:white;
    transition: .5s;
}

/* NEWLETLETTER */

#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font-size: 14px;
    font-family: var(--font-family); 
    width:50%;
    margin:auto;
}

/* BANNER ARTISTAS */

.bannerArtistas{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
/* CONTENEDOR FOTO PERFIL */
.contenedor-perfil{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-perfil .perfil-contenedor{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.perfil-contenedor img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%; 
    height: 100%;
}
.curriculum{
    max-width: 700px;
}
.curriculum p{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.contacto{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(/img/contacto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -400px;

}
/* CONTACTO MAPA */
.contenedor-mapa{
    width: 80%;
    margin: 20px auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.titulo-mapa{
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
}
.titulo-map{
    display:flex;
    margin-bottom: 10px;
}
.titulo-map p,
.titulo-map a{
    margin-left: 10px;
    font-family: var(--font-family);
    color:black;
}

/* QUINES SOMOS */

.quienessomos{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(/img/quienessomos.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.contenedor-sobre-nosotros{
    width: 80%;
    margin: auto;
}
.contenedor-sobre-nosotros h1{
    
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.contenedor-sobre-nosotros h1::before{
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 10%, rgba(253,37,31,1) 10%, rgba(252,67,39,1) 20%, rgba(252,92,46,1) 40%, rgba(252,84,44,1) 40%, rgba(252,137,58,1) 60%, rgba(252,165,66,1) 60%, rgba(252,176,69,1) 80%,rgba(253,29,29,1) 100% );
    position: absolute;
    bottom: -20px;
    left: 0;
    border-radius: 5px;
   
}

/* INSCRIPCIONES */
.registro{
    
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(/img/registro.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.formulario-inscripcion{
    
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.formulario-inscripcion form{
    width: 100%;
}
.formulario-inscripcion input{
    
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 70%;
    height: 20px;
    font-family: var(--font-family);
    font-size: 16px;
}
.formulario-inscripcion label{
    
    display: block;
    margin: auto;
    width: 70%;
    z-index: 10000000;
    transform: translatey(-45px);
    transition: all .5s;
    pointer-events: none;
    
}
.formulario-inscripcion input:focus + label, .formulario-inscripcion input:valid + label {
    transform: translatey(-65px);
    font-size: 10px;
}
.formulario-inscripcion button{
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #2D4C85;
    color: white;
    transition: all .5s;
}
/* --------------------------------------- */


.contenedor-artistas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor-artistas section{
    width: calc((100% - 20px) / 4);
}
.contenedor-artistas section img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .5s;
}
.contenedor-artistas section a {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color:black;
}
.contenedor-artistas section img:hover{
    transform: scale(1.1);
}
/* CONTENEDOR FOTOS ARTISTAS */
.contenedor-galeria{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-galeria .contenedor-galeria-foto{
    width: calc((100% - 30px) / 3) ;
    margin-bottom: 20px;
    
}
.contenedor-galeria .contenedor-galeria-foto img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.contenedor-galeria .contenedor-galeria-foto p{
    margin-top: 5px;
    color: var(--bg-primario);
    letter-spacing: 1px;
}
.contenedor-galeria .contenedor-galeria-foto a{
    color: var(--bg-primario);
    display: inline-block;
    float: right;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid var(--bg-primario);
    border-radius: 10px;
    transition: all .5s; 
}
.contenedor-galeria .contenedor-galeria-foto a:hover{
    background: var(--bg-primario);
    color:white;
}
/* CONTENEDOR OBRAS PARA VENTA */

.contenedor-obra-perfil{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.contenedor-obra-perfil .contenedor-foto-obra{
    max-width: 400px;

}
.contenedor-obra-perfil .contenedor-foto-obra img{
    width: 100%;
    cursor:pointer;
}
.contenedor-obra-perfil .contenedor-detalle-obra {
   
    
    width: calc(100% - 400px);
    margin-left: 40px;
    
}
.contenedor-obra-perfil .contenedor-detalle-obra p {
    color:#000;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor-obra-perfil .contenedor-detalle-obra span {
    
    color: var(--bg-primario);
    margin-left:10px; 
    font-weight: 900;
}
.contenedor-obra-perfil .contenedor-detalle-obra p.precio{
    
    margin-top: 40px;
    font-weight: bold;
    color:#000;
}
.contenedor-obra-perfil .contenedor-detalle-obra p.precio span{
    color:#000;
}
.contenedor-obra-perfil .contenedor-detalle-obra button {

    background: var(--btn-compra);
    border:none;
    padding: 15px;
    border-radius: 10px;
    cursor:pointer;
    outline: none;
    color:#FFF;
    text-transform: uppercase;
    margin-top:50px;
}
.modal{
    position: fixed;
    z-index: 1000000000000000000000000;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    transform: translateY(-100%);
    transition: all .5s;
    opacity: 0;
}
.modal-cont{
    width: 70%;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,.8);
    padding: 20px;
    border-radius: 10px;
}
.modal-cont .modal-titulo{
    
    font-family: var(--font-family);
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: var(--bg-primario);
}
.modal-cont .modal-form form{
    display: flex;
    flex-direction: column;
}
.modal-cont .modal-form form input{
    position: relative;
    outline: none;
    border:none;
    background: transparent;
    padding: 10px;
    width: 50%;
    margin: auto;
    border-bottom: 1px solid var(--bg-primario);
}

.modal-cont .modal-form form label{

    display:block;
    width: 50%;
    font-family: var(--font-family);
    margin:auto;
    font-size: 20px;
    transform: translateY(-25px);
    transition: all .5s;
}
.modal-cont .modal-form form input:focus + label,.modal-cont .modal-form form input:valid + label {
    
    transform: translateY(-45px);
    font-size: 12px;
    background: transparent;
}
.modal-cont .modal-form form input[type="submit"]{
    background: var(--btn-compra);
    width: auto;
    border:none;
    color:#FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--font-family);
    letter-spacing: 1px;
    padding: 20px;
    cursor:pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.modal-cont .modal-form form textarea{
    outline: none;
    border:none;
    background: transparent;
    padding: 10px;
    width: 50%;
    height: 100px;
    margin: auto;
    border-bottom: 1px solid var(--bg-primario);
    resize: none;
}
.btn-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    cursor: pointer;
}
.hide{
    transform: translateY(0);
    opacity: 1;
}
.volver{
    text-decoration: none;
    font-family: var(--font-family);
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%,-50%);
    color:#FFF;
}
.contenedor-atras{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-atras a{
    text-transform: uppercase;
    color:#000000;
    font-weight: 700;
}
/* EDITORIAL */
.contenedor-sobre{
    width: 80%;
    margin: 40px auto;
    padding: 40px;
}

.contenedor-sobre img{
    width: 170px;
    margin-bottom: 20px;
}
.contenedor-sobre p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 15px;
    line-height: 30px;
}
.contenedor-sobre p span{
    font-weight: 700;
    display: block;
    text-align: right;
    margin-top: 40px;
}
/* EQUIPO */
.contenedor-equipo{
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}
.contenedor-equipo .contenedor-cv{
    width: calc((100% - 20px) / 3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor-equipo .contenedor-cv img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.contenedor-equipo .contenedor-cv h3{
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: initial;
}
.contenedor-equipo .contenedor-cv a{

    margin-top: 10px;
    border: 1px solid #eb5656;
    padding: .25rem .5rem;
    color: #eb5656;
    font-size: 1.2rem;
    border-radius: .25rem;
}
.contenedor-equipo .contenedor-cv a:hover{

    background: #eb5656;
    color: #FFF;
}
.contenedor-equipo .contenedor-cv p.frase{
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}

/* Medias Queries */
@media screen and (max-width:1100px){
    nav a {
        text-align: center;
        
    }
}
@media screen and (max-width:860px){
    
    .quienessomos{
        height: 25vh;
        background-position-y: -250px;
    }
    .contenedor-equipo{
        flex-direction: column;
    }
    .contenedor-equipo .contenedor-cv{
        width:100%;
        margin-bottom: 20px;
    }
    .contenedor-obra-perfil{
        
        flex-direction: column;
        justify-content: center;
    }
    .contenedor-obra-perfil .contenedor-detalle-obra {
   
        margin:0;
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .contenedor-galeria{
        text-align: center;
    }

    .contenedor-galeria .contenedor-galeria-foto{
        width: calc((100% - 30px) / 1) ;
        
    }

    .contenedor-artistas section{
        width: calc((100% - 20px) / 2);
    }

    nav .contenedor_menu .burger {
        display: inline-block;
    }
    nav ul{
        position: absolute;
        width: 50%;
        flex-direction: column;
        top:55px;
        right: 0;
        transform: translateX(100%);
        transition: all .5s;
    }
    nav .submenu ul{
        
        transform: translate(0,-350px);
        
    }
    nav .submenu:hover ul {
        background: rgba(0,0,0,.7);
        transform: translate(-200%,0);
    }
    .slider h1{
        top:20%;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .contendor-artistas .contendor-slider img{
        transform: scale(1);
    }
    section article.ediciones{
        width: calc((100% - 10px) / 2);
        
    }

    footer{
        
        flex-direction: column;
    }
    
    .nosotros, .sociales{
        width: 100%;
    
    }
    .nosotros p, .nosotros a {
        text-align: center;
    }
    
    .nosotros p{
        font-size: .9rem;
        margin-bottom: 20px;
    }

    .contenedor-sobre-nosotros h1{

        
        font-size: .9rem;
        text-align: center;
    }
    section h3{
        font-size: 1.1rem;
        letter-spacing: 0;
    }
    
    #mc_embed_signup{
       
        width:80%;
    }
    .contenedor-mapa{
        flex-direction: column;
    }
    .titulo-mapa{
        width: 100%;
    }
    .contacto{
       
        background-position-y: 0;
    }
    .contenedor-perfil{
        flex-direction: column;
    }
    .curriculum{
        margin-top: 30px;
    }
}

@media screen and (max-width:460px){
    
    .contenedor-sobre{
        text-align: center;
    }
    .contenedor-sobre p{
        text-align: center;
    }
    .contenedor-sobre p span{
        text-align: center;
    }

    

    .modal-cont .modal-titulo{
        font-size: 14px;
    }

    .modal-cont .modal-form form label{
        font-size: 12px;
    }

    .contenedor-artistas section{
        width: calc((100% - 20px) / 1);
    }
    
    .slider h1{
        top:20%;
        font-size: 1em;
        text-align: center;
    }
    
    section article.ediciones{
        width: calc((100% - 10px) / 1);
        
    }
    blockquote{
        font-size: 2rem;
    }
    cite{
        
        font-size: 1.5rem;
    }
    
    aside h5{
        font-size: .9rem;
    }

}
.agregar {

    transform: translatex(0);
    background: rgba(0,0,0,.7);

}