footer
    .nosotros
        a(href="") Sobre Nosotros
        a(href="mailto:info@bookart.com.uy") Contacto
        p © Book Art and Design - Los textos que aparecen en este sitio web pueden ser reproducidos mencionando la fuente. Asimismo, queda prohibida la reproducción total o parcial de las imágenes de este sitio sin previo consentimiento del autor.

    .sociales
        a.facebook(href="https://www.facebook.com/bookartdesignuy/", target="_blank", rel="noopener noreferrer")
            i.fab.fa-facebook-f
        a.instagram(href="https://www.instagram.com/bookartdesign/", target="_blank", rel="noopener noreferrer")    
            i.fab.fa-instagram
        a.twitter(href="https://twitter.com/bookartdesignuy", target="_blank", rel="noopener noreferrer")
            i.fab.fa-twitter
script(src="/js/script.js")
script(src="/js/slider.js")
