link(rel="stylesheet", href="/css/styles.css")
link(rel="shortcut icon", href="/img/favicon.jpg", type="image/x-icon")
script(src="https://code.jquery.com/jquery-3.4.1.js")
script(src="https://kit.fontawesome.com/7f0d9f4659.js")
