header
    nav 
        .contenedor_menu
            .contenedor-img    
                a(href="/")
                    img(src="/img/logo.png", alt="Logo de Book Art")

            ul
                li.submenu
                    a(href="/sobrenosotros") Sobre Nosotros
                    ul  
                        li
                            a(href="/quehacemos") Que hacemos
                        li
                            a(href="/editorial") Editorial
                li.submenu 
                    a(href="/nuestrosartistas") Nuestros Artistas
                    
                li.submenu    
                    a(href="/centrosculturales") Centros Culturales
                    ul
                        li
                            a(href="/museos") Museos
                        li
                            a(href="/galeria") Galerías
                        li
                            a(href="/talleres") Talleres
                        li
                            a(href="/colectivos") Colectivos
                li
                    a(href="/homenejes") Homenajes
                li
                    a(href="/lugaresdeinteres") Lugares de Interes
                li
                    a(href="/contacto") Contacto
            .burger
                .burger-menu    
                .burger-menu    
                .burger-menu
                
    
                
            





